{
  "presets": ["stage-2",["es2015", { "modules": false }]],
  "plugins": [
    [
      // "component"
      "transform-runtime",
      {
        // "libraryName": "element-ui",
        // "styleLibraryName": "~theme"
      }
    ]
  ]
}